.score-board {
    max-width: 90vw;
    display: block;
    margin: auto;
}
.score-board h2 {
    text-align: left;
    max-width: 90vw;
}
.score-board .player-section {
    display: flex;
    height: 80px;
    align-items: center;
}
.score-board .player-name {
    width: 90px;
    text-transform: uppercase;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    font-size: 14px;
    box-sizing: border-box;
}
.score-board .player-icon-container {
    background-color: #9665D8;
    height: 10px;
    width: 100%;
    border-radius: 5px;
}
.score-board .player-icon-position {
    position: relative;
    margin-left: 50px;
    height: 10px;
    transition-duration: 0.5s;
}
.score-board .profile-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 10;
    right: 50px;
    top: -25px;