.score-board {
    max-width: 90vw;
    display: block;
    margin: auto;
}
.scores .profile-icon {
    width: 50px;
    height: 50px
}
.scores {
    width: 90vw!important;
    display: flex;
    position: relative;
    height: 60px;
    align-items: center;
}
.scores .player-name {
    width: 10%;
    font-weight: bold;
    font-size: 14px;
    position: relative;
}
.scores:after {
    content:'';
    width: calc(80vw - 80px);
    height: 10px;
    display: block;
    background-color: #8564bf;
    border-radius: 10px;
    bottom: 37%;
    right: 6vw;
    z-index: -2;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    position: absolute;
}
.scores .profile-icon {
    opacity: 1!important;
}
.score-board h2 {
    max-width: 90vw;
    margin-top: 100px;
}

.scores .player-icon-container{
    position: relative;
    width: 80vw;
    }
.scores .player-icon-position{
    position: absolute;
    max-width: 80vw;
    left: 100%;
    top: -25px;
}