button.small {
    display: inline-block;
    width: auto;
    padding: 0 20px;
    background-color: #F94141;
    font-size: 14px;
  }
  
button.small:hover {
    background-color: rgb(126, 33, 33);
  }

  button.addnum {
    display: inline-block;
    width: auto;
    padding: 0 20px;
    background-color: #03E4AC;
    font-size: 14px;
  }
  
button.addnum:hover {
    background-color: rgb(2, 160, 120);;
  }

  .pnum {
    display: flex;
    direction: row;
    align-items: center;
  }
  
  .pnum button {
    margin: 0;
    margin-left: 10px;
  }
