.qbox {
    width: 300px;
    display: block;
    margin: 10px auto;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.qtext {
    font-size: 24px;
}

.report-button {
    width: 20px;
    height: 20px;
    margin: 0 0 0 auto;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #9FA1A0;
    border: 1px solid #9FA1A0;
}

.report-button:hover {
    background-color: #FFFFFF;
    color: #F94141;
    border: 1px solid #F94141;
}