body {
    font-family: 'Ubuntu', sans-serif;
}
h2,h3,h4, h5, h6{
    margin: 30px auto;
    max-width: 300px;
}
div#root{
    max-width:1000px;
    display: block;
    margin: auto;
}
button{
    background: #03E4AC;
    color:#ffffff;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 300px;
    display: block;
    margin: 10px auto;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    transition-duration: 0.5s;
}
button:hover{
    background: #9665D8;
    transition-duration: 0.5s;
}
a {
   text-decoration: none;
}
form{
    width: 300px;
    display: block;
    margin: auto;
}
label, input{
    width:100%;
    height: 40px;
    border: none;
}
input{
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
    border-radius: 0px;
}
select{
    border-radius: 0px;
}
div#home {
    max-width: 100vw;
    margin-left: calc(-50vw + 500px);
}
@media only screen and (min-width: 1001px){
div#home .row{
    width: 100vw;
    display: flex;
}
div#home .row .col{
    width: 50vw;
    position: relative;
}
div#home .row .col:last-child{
    margin-left:50vw;
}
div#home .row .col.header{
    position: fixed;
    top:0px;
    height: 100vh;
    background-size: cover;
    background-position: 0px -200px;
    background-image: url('../../assets/pub-background-desktop.jpg');
}
div#home .row .col.header .logo{
    position: relative;
}
div#home .row .col.header .logo svg.desktop{
    display: block;
    position: absolute;
    right: -1px;
    top: -1px;
    width:2160px;
    height:2160px;
}
.col.header img.logo-background {
    position: absolute;
    z-index: 1;
    width: 600px;
    top: 150px;
    left: 10vw;
}

.col.header img.logo-image {
    position: absolute;
    top: 320px;
    left: calc(10vw + 155px);
    width: 210px;
    z-index: 2;
}
}
@media only screen and (max-width: 1400px){
    .col.header img.logo-background {
        width: 400px;
        top: 150px;
        left: 10vw;
    }
    
    .col.header img.logo-image {
        position: absolute;
        top: 275px;
        left: calc(10vw + 120px);
        width: 110px;
        z-index: 2;
    }
}

@media only screen and (max-width: 1000px){
    .col.header img.logo-background {
        width: 400px;
        top: 150px;
        left: 10vw;
    }
    .col.header img.logo-image {
        position: absolute;
        top: 275px;
        left: calc(10vw + 120px);
        width: 110px;
        z-index: 2;
    }
    div#home {
        max-width: 100vw;
        margin-left: -10px;
    }
    div#home .row{
        flex-wrap: wrap;
    }
    div#home .row .col{
        width: 100vw;
        position: relative;
    }
    div#home .row .col.header{
        height: 400px;
        background-position: center 0px;
        background-size: 100vw; 
        background-image: url('../../assets/pub-background.jpg');
        position: relative;
        margin-top: -80px;
    }
    div#home .row .col.header .logo svg.desktop{
        display: block;
        position: relative;
        right: -1px;
        margin-top: 0px;
        width:100vw;
        height:204px;
    }
    div#home .row .col:last-child{
        margin-top: 30px;
        margin-left:0vw;
    }
}
@media only screen and (min-width: 1001px){
    div#home .row .col.header .logo svg.mobile{
        display: none;
    }
}
@media only screen and (max-width: 1000px){
    div#home .row .col.header .logo svg.desktop{
        display: none;
    }
    div#home .row .col.header .logo svg.mobile{
        display: block;
        position: relative;
        right: -1px;
        bottom: -100px;
    }
    .logo {
        height: 400px;
        border-bottom: 2px solid white;
    }
    
    .col.header {
        border-bottom: 1px solid white;
        box-sizing: border-box;
        background-size: cover;
        background-repeat:no-repeat;
        overflow: visible;
    }
    div#home .row .col.header .logo svg.mobile {
        position: absolute;
        bottom: -25px;
        z-index: 0;
    }
    .col.header img.logo-background {
            position: absolute;
            width: 400px;
            top: 20px;
            left:calc(53% - 200px);
        }
        .col.header img.logo-image {
            position: absolute;
            top: 150px;
            left: calc(53% - 80px);
            width: 110px;
            z-index: 2;
        }
    }
    
    @media only screen and (max-width: 500px){
    
    .col.header img.logo-background {
            position: absolute;
            width: 300px;
            top: 80px;
            left:calc(53% - 150px);
        }
        .col.header img.logo-image {
            position: absolute;
            top: 170px;
            left: calc(53% - 70px);
            width: 100px;
            z-index: 2;
        }
    }

    .userProfile .row {
        display: flex;
    }
    .userProfile .row .col {
        width: 50%;
        box-sizing: border-box;
    }
    .col.user-info-col{
        padding: 0px 30px;
    }
    .col.user-info-col .profile-icon {
        display: block;
        margin: auto;
    }
    .col.user-info-col h1{
        text-align: left;
    }

    @media only screen and (max-width: 767px){
        .userProfile .row {
            flex-wrap: wrap;
        }
        .userProfile .row .col{
            width: 100%;
        }
        .userProfile{
            max-width: 80vw;
            display: block;
            margin: auto;
            padding-top: 50px;
        }
    }
   
    label, h6{
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 500;
    }
    .results-page {
        margin-top: 120px;
    }
    .results-page .winner .profile-icon {
        display: block;
        margin: auto;
        max-width: 75vw;
        max-height: 75vw;
        margin: auto;
    }
    .results-page h2{
        text-align: center;
    }
    .score-board h2 {
        text-align: left;
    }

    div#root {
        padding-bottom: 100px;
    }
    @media only screen and (max-width: 430px){
        body {
        max-width: 100vw!important;
        }
    
    div#myTopnav {
        width: 20vw!important;
    }
    }

    .profile-name {
        text-align: center;
    }
    
    .profile-email {
        text-align: center;
        font-weight: normal;
        font-size: 18px;
    }

    .results-page h2.winner {
        font-size: 60px;
        color: #9665D8;
    }