.navbar {
    display: flex;
    color: #000;
    width: 90vw;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 2.5vw;
    z-index: 10;
}
.navbar .profile-icon{
    width: 50px;
    height: 50px;
}
.navbar div#myTopnav{
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    flex-wrap: no-wrap;
    padding: 30px;
    width: 50vw;
}
div#myTopnav a{
    color: #000;
}
.navbar a:hover{
    color: #9665D8;
}
body{
    padding-top: 120px;
    position: relative;
}
@media only screen and (max-width: 980px){
    body {
        padding-top: 70px;
    }
}
body:after{
    content:'';
    padding: 50px;
    position: absolute;
    width: 100vw!important;
    top: -8px;
    left: -8px;
    z-index: 8;
    background: -webkit-linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
}
.main-menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.nav-logo img{
    height: 60px;
    padding-top: 10px;
}

/* Responsive Mobile Nav */
@media only screen and (max-width: 800px){
    .main-menu {
        align-items: start;
        padding-top: 15px;
    }
    div#myTopnav {
        position: relative;
        margin-top: 20px;
        flex-wrap: wrap;
        width: 50px;
        max-width: 200px;
    }
    div#myTopnav::before{
        content:'\f0c9';
        position: absolute;
        font-family: 'Font Awesome 5 Free';
        top: 0px;
        right: 30px;
        font-size: 30px;
        display: block;
        font-weight: 900;
        color: #000;
    }
    div#myTopnav a{
        display: none;
    }
    div#myTopnav a:hover{
        color: #707070;
    }
    
    div#myTopnav:hover {
        position: relative;
        margin-top: 20px;
        flex-wrap: wrap;
        width: 200px;
        max-width: 200px;
    }
    div#myTopnav:hover a{
        display: block;
        width: 200px;
        margin-top: -1px;
        padding: 15px 10px;
        color: #fff;
        background-color: #03E4AC;
        border: 2px solid #03E4AC;
    }
    
    div#myTopnav:hover a:hover{
        color: #707070;
    }
    }