
/*$colors: (
  green: #03E4AC,
  blue: #04D5FB,
  orange: #F7903E,
  yellow: #FFD72F,
  purple: #9665DB,
  red: #F94141,
  darkblue: #4481DB,
  pink: #F96E99,
  white: #FFFFFF,
  gray: #9FA1AD
);

* {
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-35%, -35%);
  font-family: 'lato';
  color: #333;
}

input[type="radio"] {
  display: none;
  &:checked + label {
    span { transform: scale(1.25); }
    @each $name, $value in $colors {
      .#{$name} {
        border: 2px solid darken($value, 25%);
      }
    } // !@each
  } // !&:checked + label
}

label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
  &:hover {
    span { 
      transform: scale(1.25); 
    }
  }
  span {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform .2s ease-in-out;
    @each $name, $value in $colors {
      &.#{$name} {
        background: $value;
      }
    }
  }
}*/

.color-choice {
  width: 20%;
  position: relative;
  padding: 0;
  margin: 10px 0;
}
.color-picker {
  display: flex;
  flex-wrap: wrap;
}
.color-picker h6 {
  width: 100%;
  margin-bottom:5px;
}
.color-picker input{
position: relative;
width: 100%;
height: 20px;
margin: auto;
}
.color-picker label {
width:20px;
height:20px;
position: absolute;
border-radius:50%;
top: calc(50% - 12.5px);
left: calc(50% - 12.5px);
z-index: 1px;
border: 1px solid gray;
pointer-events:none;
}
.color-picker label.green {
background: #03e4ac;
}
.color-picker label.blue {
background: #04D5FB;
}
.color-picker label.orange {
background: #F7903E;
}
.color-picker label.yellow {
background: #FFD72F;
}
.color-picker label.purple {
background: #9665D8;
}
.color-picker label.red {
background: #F94141;
}
.color-picker label.darkblue {
background: #4481DB;
}
.color-picker label.pink {
background: #F96E99;
}
  .color-picker label.white {
background: #FFFFFF;
}
.color-picker label.gray {
background: #9FA1A0;
}

.color-picker input:hover + label{
width:30px!important;
height:30px!important;
border-radius:50%;
top: calc(50% - 17.5px);
left: calc(50% - 17.5px);
}

.color-picker input:checked + label{
  width:20px!important;
  height:20px!important;
  border-radius:50%;
  top: calc(50% - 12.5px);
  left: calc(50% - 12.5px);
  }
  
  .color-picker input:checked + label:before{
      content: '';
      width:30px!important;
  height:30px!important;
  border-radius:50%;
  border: 2px solid gray;
  position:absolute;
  z-index:-1;
  top:-7px;
  left:-7px;
  }